.login {
    position: absolute;
    top: $loginVerticalPosition;
    left: $loginHorizontalPosition;
}

.username {
    box-sizing: content-box;
    font-size: 1.5*$themeFontSize;
    vertical-align: middle;
    text-align: center;
    border-radius: $borderRadius;
    color: $themeDarkColor;

    &:hover {
        box-shadow: 2px 2px 1px $themeDarkColor;
    }
}
