$loginVerticalPosition: 100px;
$loginHorizontalPosition: 65px;

$messageOffset: 65px;

$messagesMarginLeft: 50px;

$themeFontSize: 1em;

$borderRadius: 10px;

$themeDarkColor: #2f0065;
$themeLightColor: #ecdcf2;
